.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.subhead
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.rss-date
{
	font-family: source-sans-pro-i3, sans-serif;
}

.rss-paragraph
{
	font-family: source-sans-pro-n4, sans-serif;
}

.rss-title
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u540-4
{
	font-family: josefin-sans-n7, sans-serif;
}

#u651-4
{
	font-family: josefin-sans-i4, sans-serif;
}

