.version.index /* version checker */
{
	color: #000009;
	background-color: #2F8A65;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.95000000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -7px;
	margin-bottom: -46px;
	width: 0.01px;
}

#ppmenuu142
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 9px;
}

#pmenuu142
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 10px;
	margin-left: 346px;
}

#menuu142
{
	z-index: 34;
	width: 502px;
	margin-left: 52px;
}

#u281
{
	width: 166px;
	min-height: 34px;
	margin-right: -10000px;
}

#u282
{
	width: 166px;
	padding-bottom: 12px;
}

#u282:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u165
{
	width: 166px;
	min-height: 34px;
	margin-right: -10000px;
	left: 168px;
}

#u168
{
	width: 166px;
	padding-bottom: 12px;
}

#u282.MuseMenuActive,#u168:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u357
{
	width: 166px;
	min-height: 34px;
	margin-right: -10000px;
	left: 336px;
}

#u358
{
	width: 166px;
	padding-bottom: 12px;
}

#u168.MuseMenuActive,#u358:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u358.MuseMenuActive
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u284,#u170,#u359
{
	height: 22px;
	width: 166px;
	margin-right: -10000px;
	top: 6px;
}

#pu127
{
	width: 0.01px;
	margin-top: 16px;
}

#u127
{
	z-index: 2;
	width: 814px;
	margin-right: -10000px;
}

#u122-13
{
	z-index: 8;
	margin-bottom: -124px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 51px;
}

#untitled
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 103px;
	left: 350px;
}

#u118-4
{
	z-index: 4;
	width: 328px;
	min-height: 69px;
	margin-right: -10000px;
	left: 7px;
}

#u645
{
	z-index: 73;
	width: 346px;
	height: 536px;
	margin-right: -10000px;
	margin-top: 60px;
}

#u174
{
	z-index: 3;
	height: 69px;
}

#u174-bw
{
	z-index: 3;
	margin-top: -617px;
	margin-bottom: -69px;
	height: 69px;
}

#pu139
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -13px;
}

#u139
{
	z-index: 21;
	width: 346px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#pu175
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 11px;
}

#u175
{
	z-index: 55;
	width: 14px;
	margin-left: 7px;
}

#u187
{
	z-index: 57;
	width: 21px;
	margin-left: 3px;
	margin-top: 18px;
}

#u193
{
	z-index: 59;
	width: 24px;
	margin-top: 21px;
}

#u140-12
{
	z-index: 22;
	margin-right: -10000px;
	margin-top: 8px;
	left: 40px;
}

#u199
{
	z-index: 62;
	height: 46px;
	width: 46px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 539px;
}

#u205
{
	z-index: 65;
	height: 46px;
	width: 46px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 637px;
}

#u211
{
	z-index: 68;
	height: 46px;
	width: 46px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 735px;
}

#u217
{
	z-index: 71;
	height: 47px;
	width: 47px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 834px;
}

#u172
{
	z-index: 50;
	min-height: 41px;
	padding-bottom: 6px;
}

#u172_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u173-4
{
	z-index: 51;
	margin-right: -10000px;
	margin-top: 17px;
	left: 740px;
}

#u172-bw
{
	z-index: 50;
	min-height: 41px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 7px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

