#menuu142
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u281,#u282
{
	background-color: transparent;
	position: relative;
}

#u282:hover
{
	background-color: #29ABE2;
}

#u284
{
	vertical-align: top;
	position: relative;
	background: url("../images/u284.png") no-repeat 0px 0px;
}

#u282.MuseMenuActive #u284
{
	background: url("../images/u284-a.png") no-repeat 0px 0px;
}

#u165,#u168
{
	background-color: transparent;
	position: relative;
}

#u168:hover
{
	background-color: #29ABE2;
}

#u170
{
	vertical-align: top;
	position: relative;
	background: url("../images/u170.png") no-repeat 0px 0px;
}

#u168.MuseMenuActive #u170
{
	background: url("../images/u170-a.png") no-repeat 0px 0px;
}

#u357,#u358
{
	background-color: transparent;
	position: relative;
}

#u358:hover
{
	background-color: #29ABE2;
}

#u282.MuseMenuActive,#u168.MuseMenuActive,#u358.MuseMenuActive
{
	background-color: transparent;
}

#u359
{
	vertical-align: top;
	position: relative;
	background: url("../images/u359.png") no-repeat 0px 0px;
}

#u358.MuseMenuActive #u359
{
	background: url("../images/u359-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u127
{
	background-color: #FFFFFF;
	position: relative;
}

#u118-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #29ABE2;
	text-align: center;
	font-size: 44px;
	line-height: 53px;
	font-family: josefin-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
	position: relative;
}

#u645
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/prabhakar%20photo.jpg") no-repeat left top;
	background-size: cover;
}

#u139
{
	background-color: #F15A24;
	position: relative;
}

#u175,#u187,#u193
{
	background-color: transparent;
	position: relative;
}

#u199
{
	vertical-align: top;
	position: relative;
	background: url("../images/u199.png") no-repeat 0px 0px;
}

#u199:hover
{
	background: url("../images/u199-r.png") no-repeat 0px 0px;
}

#u205
{
	vertical-align: top;
	position: relative;
	background: url("../images/u205.png") no-repeat 0px 0px;
}

#u205:hover
{
	background: url("../images/u205-r.png") no-repeat 0px 0px;
}

#u211
{
	vertical-align: top;
	position: relative;
	background: url("../images/u211.png") no-repeat 0px 0px;
}

#u211:hover
{
	background: url("../images/u211-r.png") no-repeat 0px 0px;
}

#u217
{
	vertical-align: top;
	position: relative;
	background: url("../images/u217.png") no-repeat 0px 0px;
}

#u217:hover
{
	background: url("../images/u217-r.png") no-repeat 0px 0px;
}

#u174,#u172
{
	background-color: #000000;
}

#untitled,#u172_align_to_page
{
	position: relative;
}

#u122-13,#u140-12,#u173-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

